* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

body {
 
	 background-image: url("img/planofundo.jpg");
     background-repeat: repeat;
     background-attachment: scroll;
}

h1 {
    text-align: center;
}
h3 {
    text-align: center;
}

#titulo {
    font-size: 3.03em;
}

table {
     margin: 0px auto; 
}

#espaco{
    position: absolute;
    height: auto;
    padding-top: 74px;    
    padding-left: 50px;
    width: 95%;
   
}



#div_todo {
    background-color:lightgray;
    width: 95%;
    height: auto;
    margin: 24px auto 0px auto;
    position: relative;
    box-shadow: 0px 6px 20px grey;
}

#atores2 {
    column-count: 2
}

#twitter {
    width: 71px;
    height: 71px;
    margin-left: auto;
	margin-right: auto;
	display: block;
}